@media (max-width:479px){
    .swiper-slide{width: 100% !important;}
    section{padding: 15px !important;background-size: contain !important;}
    section#price {background-size: contain,contain,auto !important;}
    section{border: none !important;}

}

@media(max-width:769px){
    .pt-custom-breakpoint{padding-top: 50px !important;}
    .pb-custom-breakpoint{padding-bottom: 50px !important;}
    .site_product  {flex-direction: column;}
    section#sc_1{background-size: cover !important;}
    section#sc_1 .text-header{text-align: center;}
    .height-100{height: auto !important;}
    #map_th,#map_jp{height: 400px;width: 100%;}
    section#company{background-position: center 0px;}
    section#price .swiper-slide .body {height: 500px;}
}

@media(min-width:770px){
    .site_product  {justify-content: center}
    section{padding-top: 170px;padding-bottom: 170px;}
    section#vision{min-height: 100vh;}
    .border-bottom-in-container{padding-bottom: 170px;border-bottom: 2px dashed #d4cfcf;}
    .desc-map-jp{line-height: 2.5em;position: relative;top: 40px;}
    .desc-map-th{position: relative;top: 161px;}
    .between-cs{width: 100%;margin-top: 160px;}
    .between-50{margin-top: 50px;}
    .between-60{margin-top: 60px;}
    .between-70{margin-top: 70px;}
    .between-140{margin-top: 140px;}
    .between-180{margin-top: 180px;}
    #map_th,#map_jp{
        height: 536px;
        width: 430px;
        box-shadow: 2px 2px 16px #0000003d;
    }
    section#price .swiper-slide img {height: 140px;}
    section#price .swiper-slide .body {height: 580px;}
    span.round::before {
        content: '';
        background-color: black;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 100%;
    }
    span.round::after {
        content: '';
        background-color: black;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 100%;
    }
    span.round i::before {
        content: '';
        background-color: black;
        width: 3rem;
        height: 1px;
        display: inline-block;
        bottom: 4px;
        left: -2px;
        margin-right: 5px;
        position: relative;
    }
    span.round i::after {
        content: '';
        background-color: black;
        width: 3rem;
        height: 1px;
        display: inline-block;
        bottom: 4px;
        right: -2px;
        margin-left: 5px;
        position: relative;
    }
}

@media(min-width:1200px){
    section#staff .img-staff {height: 250px;overflow: hidden;}
    .my-form-style div.form-group{ margin-bottom: 30px;}
    .my-form-style .btn-lg{padding: 1rem 5rem;border-radius: 1rem;}
    .imagebox div{
        flex-basis: 300px;
        height: 275px;
        overflow: hidden;
    }
    .imagebox div img{width: 100%;}
}
@media(max-width:1400px){
    .swiper-slide{line-height: 1.5em;}
    #map_th, #map_jp{width: 100%;}
    .desc-map-jp{line-height: 2em;top: 40px;}
}
@media(min-width:1401px){
    .swiper-slide{line-height: 2.2em;}
}


.swiper-container p{
    letter-spacing: -.5pt;
}
.button-prev{
    left: -79px;
}
.button-next{
    right: -79px;
}
.button-next,.button-prev{
    color:white;
    position: absolute;
    top: 50%;
    font-size: 1em;
    background-color: #b9b9b9;
    border-radius: 50%;
    padding: 15px 20px;
}
.button-next.staff,.button-prev.staff{
    top:35%;
    background:none;
    color: #b9b9b9;
    font-size: 2em;
}
.map-border{
    border:5px solid white;
}
.scroll-navigator{
    width: 100%;
    position: absolute;
    bottom: 30px;
    left: 0;
    text-align: center;
    font-size: 1.5em;
    text-decoration: underline;
    /*Safari*/ 
    -webkit-transform: rotate(-90deg);

    /*Firefox*/ 
    -moz-transform: rotate(-90deg);

    /*IE*/ 
    -ms-transform: rotate(-90deg);

    /*Opera*/ 
    -o-transform: rotate(-90deg);

    /*Internet Explorer*/ 
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.scroll-navigator span::after{
    content: '';
    display: block;
    background-color: white;
    height: 2px;
    width: 81px;
    margin-top: -7px;
    position: relative;
    left: 50%;
}
#load {
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url(../image/dragonfly.png) no-repeat center center black;
    background-size: 0%;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 1.5s;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0% {background-size: 0%;}
    50% {background-size: 10%;}
    100% {background-size: 0%;}
}

.bg-pink{
    background-color: pink;
}
.bg-white{
    background-color: white;
}
.width-100 {
    width: 100vw;
}

.height-100 {
    height: 100vh;
}

.f-black {
    color: black;
}
.require-label::before{
    content: '*';
    font-size: 1.5em;
    color: red;
}
.my-form-style input,.my-form-style textarea,.my-form-style select {
    background-color: #eaeaea;
    color: #958f8f;
    border:none;
}

section {
    display: flex;
    /*    justify-content: center;
        align-items: center;*/
}
section:not(:last-child){
    border-top: none;
    border-left: 30px solid #f6f3f3;
    border-bottom: none;
    border-right: 30px solid #f6f3f3;
}

section#sc_1 {
    color: white;
    background-color: black;
    /*    background-image: url(../image/head.png);
        background-size: 75% 95%;
        background-repeat: no-repeat;*/
    height: 100vh;
}
section#sc_1 .top-logo{
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: 200px;
    padding: 20px 30px;
}
section#sc_1 .top-menu .btn-top-menu:last-child{
    margin-left: -1pc;
    border-left: 1px solid black;
}
section#sc_1 .top-menu{
    position: absolute;
    top: 0;
    right: 0;

}
section#sc_1 .btn-top-menu{
    color: black;
    background-color: white;
    border: none;
    width:150px;
}
section#sc_1 img.logo {
    width: 100%;
}

section#sc_1 .title {
    font-size: 2.5em;
}

section#sc_1 p.lead {
    font-size: 2em;
}

section#vision {
    background-color: white;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../image/dragonfly-line.png);
    background-size: 80% 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.text-title {
    font-size: 2.5em;
    font-weight: 400;
}

.text-underline::after {
    content: '';
    display: block;
    background-color: #cd9f22;
    height: 5px;
    width: 30%;
    margin: auto;
}

.text-in-box {
    padding: 2em;
    border: 1.1px dashed gray;
    background-color: rgba(255,255,255,.8);
}

.txt-indent {
    text-indent: 30pt;
}

.feature-head {
    width: 100%;
    background: url(../../assets/image/feature.png);
    background-repeat: no-repeat;
    padding-top: 280px;
}

.in-box {
    padding: 30px 100px;
    background-color: white;
    box-shadow: 2px 2px 18px #80808061;
}

section#feature {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-bold {
    font-weight: bolder;
}



.site_product p {
    text-align: center;
    margin-top: 10px;
    color: #08e008;
}

.site_product div {
    text-align: center;
}

section#price {
    /*padding: 50px;*/
    background-color: white;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../image/connection.png),url(../image/price-bg.jpg);
    background-size: contain,contain,auto;
    background-repeat: no-repeat,no-repeat,repeat;

}

section#price .text-header span {
    display: block;
}

section#price .text-header .t1 {
    font-size: 2em;
    font-weight: 500;
}

section#price .text-header .t2 {
    font-size: 1em;
    font-weight: 100;
}

section#price .text-header {
    content: '';
    border-left: 5px solid black;
    text-indent: 5px;
}

.swiper-container {
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}

.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
}

section#price .swiper-slide .body {
    width: 100%;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 10px 20px;
    background-color: white;
}

.swiper-pagination {
    margin-top: 20px;
    float: left;
    width: 100%;
    position: relative;
}

.swiper-pagination-bullet-active {
    background: black;
}

.with_right_line {
    position: relative;
}

.with_right_line::after {
    content: '';
    position: absolute;
    top: 50%;
    bottom: 50%;
    background-color: #a0a1a3;
    right: 0;
    height: 1px;
    left: 100px;
}


section#staff .text-header span {
    display: block;
}

section#staff .text-header .t1 {
    font-size: 1.5em;
    font-weight: 300;
}

section#staff .text-header .t2 {
    font-size: 1em;
    font-weight: 100;
}

section#staff .text-header {
    content: '';
    border-left: 5px solid black;
    text-indent: 5px;
}

section#staff .swiper-slide {
    box-shadow: 2px 2px 10px #80808099;
}

section#staff .swiper-slide .body {
    width: 100%;
    padding: 10px 20px;
}

section#company {
    background-color: white;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../image/phuket-kuma-png.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center -182px;
}
section#contactUs {
    background-color: white;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../image/connection.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center -170px;
}
.bg-black{
    background-color: black !important;
}
.btn-transparent{
    border: 1px solid white;
    background-color: transparent;
    color: white;
}
